nav{
  ul , li{
    list-style-type:none;
  }
  ul{
    position: fixed;
    left: 0;
    top: 0;
    display:flex;
    justify-content:left;
    align-items:center;
  }
  li{
    width:5rem;
    a,a:active,a:hover,a:focus,a:active{
      color:#61dafb;
      text-decoration:none;
    }
  }
}