.index-mapbox {
  opacity: 0;
  z-index: -1;
  &.showmap {
    opacity: 1;
    z-index: 0;
  }
}
#base-map {
  width: 3840px;
  height: 1296px;
  position: absolute;
  top: 0;
  left: 0;
  .three-canvas,
  #map1,
  #map2 {
    width: 3840px;
    height: 1296px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .three-canvas,
  #deckgl-overlay,
  #map2 {
    pointer-events: none;
  }
  #water_canvas,
  #panel_canvas,
  #world_canvas {
    position: absolute;
    pointer-events: none;
  }
  #map1 #deckgl-overlay,
  #world_canvas {
    position: absolute;
    left: 0;
    top: 0;
  }
}